/* ==========================================================================
   my custom styles
   ========================================================================== */
/* helper styles */
/* line 33, style.scss */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* line 44, style.scss */
.relative-container {
  position: relative;
}

/* line 48, style.scss */
.left {
  float: left;
}

/* line 52, style.scss */
.right {
  float: right;
}

/* line 56, style.scss */
.clearfix:after {
  content: " ";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

/* /helper styles */
/* general page styles */
/* line 68, style.scss */
html {
  background-color: #3a3a3a;
  background-image: url(../images/low_contrast_linen.png);
}

/* line 73, style.scss */
body {
  margin: 0 20px 40px 20px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: whitesmoke;
}

/* line 82, style.scss */
a {
  font-weight: bold;
  text-decoration: none;
  color: #ebebeb;
}
/* line 87, style.scss */
a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

/* line 93, style.scss */
h1 {
  font-size: 3.3em;
  text-shadow: 1px 1px 0 #e74c3c, 2px 2px 0 #e74c3c, 3px 3px 0 #e74c3c;
}

/* line 99, style.scss */
h2 {
  margin-bottom: 0.3em;
}

/* line 103, style.scss */
.attribution {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 10px;
}

/* line 110, style.scss */
.demo {
  margin-bottom: 2.7em;
}

/* line 114, style.scss */
nav {
  position: relative;
  left: -24px;
}

/* line 119, style.scss */
.button {
  display: block;
  min-width: 180px;
  padding: 1em;
  text-align: center;
  border-radius: 6px;
  margin-top: 1em;
}
/* line 127, style.scss */
.button:first-child {
  margin-top: 2em;
}
/* line 131, style.scss */
.button:hover {
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
/* line 138, style.scss */
.button:nth-child(1) {
  background-color: #1abc9c;
  box-shadow: 5px 5px 0 #16a085;
}
/* line 144, style.scss */
.button:nth-child(1):hover {
  background-color: #1cc9a7;
}
/* line 147, style.scss */
.button:nth-child(1):active {
  background-color: #18af91;
}
/* line 151, style.scss */
.button:nth-child(2) {
  background-color: #3498db;
  box-shadow: 5px 5px 0 #2980b9;
}
/* line 157, style.scss */
.button:nth-child(2):hover {
  background-color: #419fdd;
}
/* line 160, style.scss */
.button:nth-child(2):active {
  background-color: #2791d9;
}
/* line 164, style.scss */
.button:nth-child(3) {
  background-color: #9b59b6;
  box-shadow: 5px 5px 0 #8e44ad;
}
/* line 170, style.scss */
.button:nth-child(3):hover {
  background-color: #a164bb;
}
/* line 173, style.scss */
.button:nth-child(3):active {
  background-color: #954eb1;
}

/* line 179, style.scss */
.container {
  min-width: 420px;
  min-height: 420px;
  padding: 40px;
  border-radius: 8px;
  background-color: #f1c40f;
  box-shadow: 10px 10px 0 #f39c12;
}

/* line 188, style.scss */
img {
  position: relative;
  box-shadow: -7px -7px 0 rgba(0, 0, 255, 0.6);
}

/* line 194, style.scss */
.explanation p {
  line-height: 1.4em;
  text-align: justify;
  -webkit-columns: auto 3;
  -moz-columns: auto 3;
  -ms-columns: auto 3;
  -o-columns: auto 3;
  columns: auto 3;
}
/* line 200, style.scss */
.explanation .tech {
  font-family: monospace;
  font-weight: bold;
}

/* line 206, style.scss */
.code {
  overflow: auto;
  border-radius: 6px;
}

/* state-specific styles */
/* /state-specific styles */
/* dev */
/* /dev */
/* /general page styles */
/* responsive media queries */
@media (max-width: 1024px) {
  /* if larger than typical tablet display, aka desktop styles */
  /* line 230, style.scss */
  .explanation p {
    -webkit-columns: auto 2;
    -moz-columns: auto 2;
    -ms-columns: auto 2;
    -o-columns: auto 2;
    columns: auto 2;
  }
}
@media (max-width: 751px) {
  /* line 239, style.scss */
  nav {
    position: static;
  }
}
@media (max-width: 600px) {
  /* line 248, style.scss */
  .explanation p {
    -webkit-columns: auto 1;
    -moz-columns: auto 1;
    -ms-columns: auto 1;
    -o-columns: auto 1;
    columns: auto 1;
  }
}
