/* ==========================================================================
   my custom styles
   ========================================================================== */

// mixins

@mixin prefix($rule, $val) {
	@each $browser in -webkit-, -moz-, -ms-, -o-, "" {
		#{$browser}#{$rule}: $val;
	}
}

// /mixins

// color variables

$red: rgba(195, 0, 11, 0.627);
$green: rgba(0, 130, 68, 0.694);
$blue: rgba(0, 100, 163, 0.737);
$yellow: rgba(223, 189, 0, 0.694);

// /color variables

/* helper styles */

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.relative-container {
    position: relative;
}

/* /helper styles */

/* general page styles */

html {
	background-color: #3a3a3a;
}

html.delayed {
	background-image: url(assets/images/low_contrast_linen.png);
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: rgb(245, 245, 245);
}

a {
	font-weight: bold;
	text-decoration: none;
	color: rgb(235, 235, 235);

	&:hover {
		text-decoration: underline;
	}
}

/* state-specific styles */



/* /state-specific styles */

/* dev */



/* /dev */

/* /general page styles */

/* responsive media queries */

@media (min-width: 1025px) { /* if larger than typical tablet display, aka desktop styles */



}

@media (max-width: 480px) { /* if smaller or equal to typical phone display, aka phone styles */



}